target/
!target/*.jar
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd
.git/
.idea/
.mvn/
*.log
.DS_Store
Dockerfile
docker-compose.yml
node_modules/
dist/
build/
.history/
.vscode/
.settings/
.classpath/
.project/
.factorypath
